{% extends 'index.html' %}
{% block title %}
    REGISTER-PAGE    
{% endblock title %}
{% block body %}

        <div class="container my-6">
            <section class="bg-light py-5">
                <div class="container px-5 my-5 px-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                        </div>
                        <h2 class="fw-bolder">REGISTER</h2>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <form id="registerform" action="" method="POST">
                                {{ form.hidden_tag() }}
                                <div class="form-floating mb-3">
                                    {{ form.username(class="form-control") }}
                                    <label for="email">Username</label>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ form.password(class="form-control") }}
                                    <label for="password">Password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ form.confirm_password(class="form-control") }}
                                    <label for="confirm_password">Confirm Password</label>
                                </div>
                                <div class="d-grid">
                                    {{ form.submit(class="btn btn-primary btn-lg") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
{% endblock body %}